<table class="table table-bordered">
  <h3>検索結果</h3>
  <thead>
    <tr>
      <th>投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= search_book.count %></td>
    </tr>
  </tbody>
</table>